:root{
  --color-warning-50: #FFEECC;
  --color-warning-100: #FFE6B3;
  --color-warning-200: #FFD580;
  --color-warning-300: #FFC44D;
  --color-warning-400: #FFB31A;
  --color-warning-500: #E69A00;
  --color-warning-600: #B37800;
  --color-warning-700: #805600;
  --color-warning-800: #4D3400;
  --color-warning-900: #1A1100;
  --color-warning: #E69A00;
  --color-danger-50: #FDF3F3;
  --color-danger-100: #F9DEDE;
  --color-danger-200: #F2B2B2;
  --color-danger-300: #EA8787;
  --color-danger-400: #E35B5B;
  --color-danger-500: #DB3030;
  --color-danger-600: #B82020;
  --color-danger-700: #8D1818;
  --color-danger-800: #611111;
  --color-danger-900: #360909;
  --color-danger: #DB3030;
  --color-primary-50: #E5EFFB;
  --color-primary-100: #CFE1F7;
  --color-primary-200: #A3C7F0;
  --color-primary-300: #77ACE9;
  --color-primary-400: #4B91E2;
  --color-primary-500: #2376D7;
  --color-primary-600: #1C5EAB;
  --color-primary-700: #15467F;
  --color-primary-800: #0E2E53;
  --color-primary-900: #061628;
  --color-primary: #2376D7;
  --color-success-50: #DDF6EF;
  --color-success-100: #C9F0E6;
  --color-success-200: #A1E5D4;
  --color-success-300: #79DAC2;
  --color-success-400: #51CFAF;
  --color-success-500: #33BA98;
  --color-success-600: #289277;
  --color-success-700: #1D6A57;
  --color-success-800: #124236;
  --color-success-900: #071A15;
  --color-success: #33BA98;
  --color-secondary-50: #F8F9F9;
  --color-secondary-100: #EBECED;
  --color-secondary-200: #D0D2D5;
  --color-secondary-300: #B6B8BC;
  --color-secondary-400: #9B9FA4;
  --color-secondary-500: #80858C;
  --color-secondary-600: #676C72;
  --color-secondary-700: #4F5257;
  --color-secondary-800: #37393C;
  --color-secondary-900: #1E2022;
  --color-secondary: #80858C;
  --color-info-50: #D0F1F5;
  --color-info-100: #BBEAF1;
  --color-info-200: #91DEE8;
  --color-info-300: #67D1DF;
  --color-info-400: #3DC4D6;
  --color-info-500: #27A8B9;
  --color-info-600: #1E828F;
  --color-info-700: #155B65;
  --color-info-800: #0C353B;
  --color-info-900: #030F11;
  --color-info: #27A8B9;
  --color-dark: var(--color-secondary-800);
  --color-light: var(--color-secondary-100);
  --color-black: #000000;
  --color-white: #ffffff;
}